*{
    margin: 0;
    padding: 0;
}

// imports
@import 'blocks/headerStyle';

// variables

$wrapperWidth: 1140px;
$blackColor: #222222;
$mainColor: #F16D7F;


.wrapper{
    max-width: $wrapperWidth;
    min-width: 320px;
    margin:0 auto;  
}


section{
    outline: 1px solid black;
}

.promo-container{

    background-color: rgba(241, 228, 230, 1);
    
}
.promo{
    min-height: 363px;
    display: flex;
    justify-content: center;
    &__right{
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px){
    .promo__left{
        display: none;
        
    }

}


