*{
    margin: 0;
    padding: 0;
}

// imports
@import 'blocks/headerStyle';
@import 'blocks/promo.scss';

// variables

$wrapperWidth: 1140px;
$blackColor: #222222;
$pinkColor: #F16D7F;
$mobileWidth: 768px;


.wrapper{
    max-width: $wrapperWidth;
    min-width: 320px;
    margin:0 auto;  
}



