* {
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #222222;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 19px;
}

.header-content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__icon {
  fill: #E8E8E8;
}

.header__icon:hover {
  fill: #F16D7F;
}

.reg, .cart {
  margin-left: 33px;
  position: relative;
}

.cartWrap {
  position: relative;
}

.cartWrap span {
  position: absolute;
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  color: #E8E8E8;
  background: pink;
  text-align: center;
  right: -10px;
  top: -8px;
}

.search {
  margin-left: 41px;
}

@media (max-width: 768px) {
  .header-container {
    padding: 0 16px;
  }
  .cart, .reg {
    display: none;
  }
  .cartWrap span {
    display: none;
  }
}

.promo-container {
  background-color: #f1e4e6;
}

.promo {
  height: 764px;
}

.hidden {
  display: none;
}

.div {
  width: 232px;
  height: 764px;
  background: white;
  margin-left: auto;
  padding: 37px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.div__title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.div__unit a {
  display: block;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #6F6E6E;
  margin-left: 21px;
}

.div__heading {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 33px;
  color: #F16D7F;
}

.div__close {
  position: absolute;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }
  .promoTextWrap {
    margin: auto;
  }
  .promoTextWrap div:first-child {
    font-size: 44px;
    line-height: 52px;
  }
  .promoTextWrap div:last-child {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
  .promo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo {
    height: 363px;
    background-image: none;
  }
  .promo__left {
    display: none;
  }
  .promoTextWrap div:first-child {
    font-size: 38px;
    line-height: 45px;
  }
  .promoTextWrap div:last-child {
    font-size: 20px;
    line-height: 24px;
  }
}

.wrapper {
  width: 1140px;
  min-width: 320px;
  margin: 0 auto;
}

.offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (247px)[3] 116px;
      grid-template-rows: repeat(3, 247px) 116px;
  row-gap: 32px;
  padding: 64px 16px;
}

.offer__for-women {
  background-image: url(../img/fofWomen.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.offer__for-men {
  background-image: url(../img/forMen.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.offer__for-kids {
  background-image: url(../img/forKids.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.offer__for-accesories {
  background-image: url(../img/accesories.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.offer__title-top {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.offer__title-buttom {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

@media (min-width: 768px) {
  .offer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 167px 116px;
        grid-template-rows: 167px 116px;
    gap: 20px;
  }
  .offer__for-accesories {
    grid-column: 1/-1;
  }
}

.promo {
  height: 764px;
}
/*# sourceMappingURL=style.css.map */